
.map-section {
    width: auto;
    height: 100%;
    /* background-color: red; */
}

.map-container {
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.map__searchButton {
  position: absolute;
  z-index: 20;
  bottom: 2em;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}